/* body{
    background: #2c9db7
}
a{
 color: #fff;
 text-decoration: none;   
}
.emp-book{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.book-img{
    text-align: center;
}
.book-img img{
    width: 70%;
    height: 100%;
}
.book-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.book-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.book-head h5{
    color: #333;
    text-transform: capitalize;
    font-size: xx-large;
}
.book-head h6{
    color: #2c9db7;
}
.book-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.book-head .nav-tabs{
    margin-bottom:5%;
}
.book-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.book-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #2c9db7;
}
.book-work{
    padding: 14%;
    margin-top: -15%;
}
.book-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.book-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.book-work ul{
    list-style: none;
}
.book-tab label{
    font-weight: 600;
}
.book-tab p{
    font-weight: 600;
    color: #2c9db7;
}
.card-title {
    color: #000;
} */
/******************************************************************************************/
/* .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100vh;
  }
  .card {
    margin: 0 1.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
    width: 25%;
    height: 40vh;
  }
  .carousel-inner {
    padding: 1em;
  }
/* .carousel-control-prev,
.carousel-control-next {
  background-color: #2c9db7;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
} */
/* .prev{
    background-color: #2c9db7;
    color:#2c9db7 ;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);

} 
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
} */
/*********************************************************************************/

*, *::before, *::after {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #333;
    color: #f2f2f2;
    min-height: 100%;
    min-width: 100%;
  }
  
  .container {
    width: 90%;
    margin: auto;
  }
  
  .cards-container {
    display: flex;
    border-radius: 6px;
    color: #333;
    background: #eee;
    padding: 1rem;
    box-shadow: 0 0 1rem #000 inset;
    overflow-x: auto;
    position: relative;
  }  
    cards-container::-webkit-scrollbar {
      display: none;
    }
  
  
  .card {
    flex: 1 0 250px;
    box-shadow: 0 1px 1rem -4px #000;
    background: #fff;
    margin: 1rem;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
  }
    img {
      width: 250px;
      height: 250px;
      object-fit: center;
    }
    
    .card:hover {
      box-shadow: 0 4px 1rem -4px #000;
      transform: translateY(-3px);
    }
  
  
  .card-content {
    padding: 1rem;
  }
  
  @media screen and (max-width: 625px) {
    .container {
      width: 100%
    }
    
    .cards-container {
      padding: .5rem;
    }
    
    .card {
      margin: .5rem;
    }
  }