.body{
    background: rgb(255, 255, 255);
}
.terms{
    background: rgb(255, 255, 255);
    padding-top: 2em;
    
}
.heading-text{
    color: #2c9db7;

}
.accordion-button{
    background-color: #2c9db7;
  color: #ffffff;
  

}

