@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato&display=swap');.body{
  background: rgb(255, 255, 255);
}
.whoweare{
  background: rgb(255, 255, 255);
  padding-bottom: 2em;
  padding-top: 2em;
  
}
.circle {
  border-radius: 50%;
  box-shadow: 5px 6px 9px 1px rgba(0,0,0,0.54);
  border-style: solid;
  border-width: .2rem;
  border-color: #bbbaba ;
  width: 20rem;
  height: 20rem;
}
/* .photo{
  height: 150%;
} */
.heading-text{
  color: #2c9db7;
  font-family: 'Lato', sans-serif;
}

.text{
  font-family: 'Lato', sans-serif;
  line-height: 1.8;

}

.minor-button{

  color: #FFC900;
}
.text-card-w{
  margin-top: 40%;
}
/* .btn-primary {
  background-color: #ffc3a0 !important;
  color: #2c9db7 !important;

 ;
} */
