
/* @media (min-width: 992px) and (max-width: 1199px) {
  navbar-position {
      .navbar-fixed-top;
  }
}

@media (min-width: 1200px) {
  navbar-position {
      .navbar-fixed-top;
  }
} */

.con{
  
  height: 17vh;
 
}

.liv{
    color:#2c9db7;
    font-size: 3vw !important;
    font-weight: bold;
    font-family: patrick;
    margin: 0 2.5%;
    
}
.for{
  width:16vw;
  height: 2vh;
 
}
.ser{
 
  margin:7%;

}


 li{
   
   font-size: larger;
   margin: 1% 0;

 }

.mar{
  margin-top:2% ;
}