
.nav1 {
    /* margin: 2%; */
    /* padding: 3%; */
    color: #2c9db7;
    background-color:rgba(0, 0, 0, 0.151);
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 5vh; */
    /* position: absolute; */
    /* display: flex; */
   
    z-index: 100;
}



.btn{
     
    color: #2c9db7;
    display: inline-flex;
    
    /* border: 2px solid #2c9db7; */
}


