.nav {
    margin: 4%;
    padding: 3%;
    color: #2c9db7;

    
}

.account{
    display: inline-flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: center;
    margin: -3% 1% 6% 2%;
    color: #2c9db7;
}


.btn{
     
    color: #2c9db7;
    display: inline-flex;
    
    /* border: 2px solid #2c9db7; */
}